*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
}

.home-page{
    min-height: 80vh;
}

.navbar{
    z-index: 100;
}

nav{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(70, 59, 233);
    position: fixed;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.icon{
    font-size: 28px;
    font-weight: bold;
    color: white;
}






















.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    width: 390px;
    height: 400px;
    padding: 10px 10px; 
    border-radius: 15px;
    gap: 16px;
}

.product-img{
    height: 200px;
    width: 200px;
}

.cont-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.product-btn{
    width: 150px;
    height: 35px;
    border-radius: 8px;
}

.product-page{
    min-height: 80vh;
    padding: 6% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}








.foot{
    width: 100%;
    background-color: rgb(47, 47, 47);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-word{
    color: white;
    font-size: 20px;
}











@media (max-width:1024px) {
    .product-page{
        padding: 18% 18%;
        flex-wrap: wrap;
        gap: 40px;
    }
}